body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #8360c3, #2ebf91);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
